.term {
  display: block;
  width: 250px;
  height: auto;
  background: #ccc;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-left: 30px;
}

.term-title {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  margin: 15px;
}

.term-list {
  margin: 15px;
}

.term-list > div {
  margin-top: 10px;
  display: flow-root;
}

.term-subtit,  /*subtit,text*/
.term-text {
  float: right;
  width: 145px;
}

.term-subtit {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #296897;
  display: inline;
}

.term-img {
  float: left;
  
}

.term-img img {
  vertical-align: middle;
}

.term-text {
  margin-top: 5px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.sec .term-subtit,
.sec .term-text {
  float: left;
  display: inline;
  text-align: left;
}

.sec .term-img {
  float: right;
}
